
@{
    ViewData["Title"] = "Курс";
}

<div class="text-center">
    <h1 class="display-4">Інформація про курс</h1>
</div>

<div class="section-card">
    <div class="section-title">
        <h2 class="display-4">ASP.NET Core MVC</h2>
    </div>
    <div class="section-content">
        <h3>Найсучасніший фреймворк для розробки MVC додатків.</h3>
        <h3>Продовжуваність курсу 23.01.2020 - 30.01.2020</h3>
        <h3>Викладач: Бабич. О.В.</h3>
    </div>
</div>

<div class="section-card">
    <div class="section-title">
        <h2 class="display-4">Модулі</h2>
    </div>
    <div class="section-content">
        <div class="list-group text-center">
            <a class="list-group-item list-group-item-action">Використання Entity Framework Core</a>
            <a class="list-group-item list-group-item-action">Безпека</a>
        </div>
    </div>
</div>