@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">CAMPUS IT</h1>
        <h2>Вітаємо!</h2>
        <p class="lead">Відома ураїнська ІТ компанія, спільно з одним із навчальних вищих закладів, розробила інформаційну систему IT Campus для супроводження навчального процесу підготовки IT-спеціалістів.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Дізнатись більше</a></p>
    </div>
